@(review: Option[BeerReview], reviewForm: Form[BeerReview])(implicit request: Request[_])

@import views.html.helper._

@main() {
	<h1>Beer Review</h1>
	@review.map{ review=>
		<div>Beer: <a href="/@review.maybeBeer.get.id.get.toString">@review.maybeBeer.get.name</a>
			@if(review.maybeBeer.isDefined && review.maybeBeer.get.brewery.isDefined){
				by <a href=@review.maybeBeer.get.brewery.get.pageURL>@review.maybeBeer.get.brewery.get.name</a>
			}
		</div>
		<div>Rating: @ratingStars(review.rating)</div>
		<div>Reviewer: <a href="@review.maybeUser.get.name">@username(review.maybeUser)</a></div>
		<div>Date: @dateFormat(review.ctime.get)</div>
		<div>Would drink again: @review.wouldDrinkAgain</div>
		<div>Balance: @review.balance</div>
		<div>Aftertaste: @review.aftertaste</div>
		<div>Flavors: @review.flavors</div>
		<div>When: @review.when</div>
		<div>Where: @review.where</div>
		<div>Text: @review.text</div>
	}
}