@(beer:Beer,brewery:Brewery, beerForm: Form[Beer])(implicit request: Request[_])

@main(beer.name + " by " + brewery.name) {

		<h1>@beer.name</h1>
		
		<div>Brewery: <a href=@brewery.pageURL>@brewery.name</a></div>
		
		<p>@beer.description</p>
		
		<div>Style:<ul>@beer.styles.map( style => <li><a href={style.pageURL}>{style.name}</a></li>)</ul></div>
		
		<div>
			<p>ABV:@beer.abv%</p>
			<p>IBUs:@beer.ibu</p>
		</div>
		
		@helper.form(action = routes.Application.addBeerPhoto(beer.breweryId.toString,beer.id.toString.split("/").last), 'enctype -> "multipart/form-data") {
			<input type="file" name="photo" />
			<input type="submit" value="Upload" />
		}

		<div id="editForm">
		@helper.form(action = routes.Application.editBeer(brewery.id.toString,beer.id.toString.split("/").last) ) {
			@helper.inputText(
				beerForm("name"),
				'_label -> "Name",
                '_error -> beerForm.error("name")
			)
			@helper.textarea(
				beerForm("description"),
				'_label -> "Description",
                '_error -> beerForm.error("description")
			)
			@helper.inputText(
				beerForm("abv"),
				'_label -> "ABV",
                '_error -> beerForm.error("abv")
			)
			@helper.inputText(
				beerForm("ibu"),
				'_label -> "IBUs",
                '_error -> beerForm.error("ibu")
			)
			@helper.inputText(
				beerForm("ingredients"),
				'_label -> "Ingredients",
                '_error -> beerForm.error("ingredients")
			)
			@helper.inputText(
				beerForm("grains"),
				'_label -> "Grains",
                '_error -> beerForm.error("grains")
			)
			@helper.inputText(
				beerForm("hops"),
				'_label -> "Hops",
                '_error -> beerForm.error("hops")
			)
			@helper.inputText(
				beerForm("yeast"),
				'_label -> "Yeast",
                '_error -> beerForm.error("yeast")
			)
			@helper.inputText(
				beerForm("otherings"),
				'_label -> "Other ingredients",
                '_error -> beerForm.error("otherings")
			)
			<input type="submit" value="Save" />
		}
		</div>

}
