@(beer:Beer,brewery:Brewery, beerForm: Form[Beer])

@main(beer.name + " by " + brewery.name) {

		<h1>@beer.name</h1>
		
		<div>Brewery: <a href=@brewery.pageURL>@brewery.name</a></div>
		
		<p>@beer.description</p>
		
		<div>Style:<ul>@beer.styles.map( style => <li><a href={style.pageURL}>{style.name}</a></li>)</ul></div>
		
		<div>
			<p>ABV:@beer.abv%</p>
			<p>IBUs:@beer.ibu</p>
		</div>
		
		@helper.form(action = routes.Application.editBeer(brewery.id,beer.id.split("/").last) ) {
			@helper.inputText(
				beerForm("name"),
				'_label -> "Name",
                '_error -> beerForm.globalError
			)
			@helper.inputText(
				beerForm("description"),
				'_label -> "Description",
                '_error -> beerForm.globalError
			)
			@helper.inputText(
				beerForm("abv"),
				'_label -> "ABV",
                '_error -> beerForm.globalError
			)
			@helper.inputText(
				beerForm("ibu"),
				'_label -> "IBU",
                '_error -> beerForm.globalError
			)
			<input type="hidden" name="id" value="" />
			<input type="hidden" name="breweryId" value="" />
	  		<input type="hidden" name="ingredients" value="" />
			<input type="hidden" name="grains" value="" />
			<input type="hidden" name="hops" value="" />
			<input type="hidden" name="yeast" value="" />
			<input type="hidden" name="otherings" value="" />
			<input type="submit" value="Save" />
		}
 
}
