@(brewery: Brewery,breweryForm: Form[Brewery])

@main(brewery.name) {

		<h1>@{brewery.name}</h1>

		<div>
			<p>@{brewery.address.street}</p>
			<p>@{brewery.address.city}, @{brewery.address.state} @{brewery.address.zip} @{brewery.address.country}</p>
		</div>
		<p>Phone: @{brewery.phone}</p>
		
		<h2>Beers</h2>
		
		<div>
			<ul>@{brewery.beerList.map(b => <li><a href={"/" + {b.id}}>{b.name}</a></li>)}</ul></ul>
		</div>
		
		<div id="editForm">
		@helper.form(action = routes.Application.editBrewery(brewery.id) ) {
			@helper.inputText(
				breweryForm("name"),
				'_label -> "Name",
                '_error -> breweryForm.error("name")
			)
			@helper.inputText(
				breweryForm("address.street"),
				'_label -> "Street",
                '_error -> breweryForm.error("address.street")
			)
			@helper.inputText(
				breweryForm("address.city"),
				'_label -> "City",
                '_error -> breweryForm.error("address.city")
			)
			@helper.inputText(
				breweryForm("address.state"),
				'_label -> "State",
                '_error -> breweryForm.error("address.state")
			)
			@helper.inputText(
				breweryForm("address.zip"),
				'_label -> "Zip Code",
                '_error -> breweryForm.error("address.zip")
			)
			@helper.select(
				breweryForm("address.country"),
                options = Countries.list.toSeq,
				'_label -> "Country",
                '_default -> "--- Choose a country ---",
                '_error -> breweryForm.error("address.country")
			)
			@helper.inputText(
				breweryForm("phone"),
				'_label -> "Phone",
                '_error -> breweryForm.error("phone")
			)
			<input type="submit" value="Save" />
		}
		</div>

}
