@(title: String = "Beer Crush")(content: Html)(implicit request: Request[_])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
		<h1><a href="/">Beer Crush</a></h1>
		@if(request.session.isEmpty) {<a href="/login">Login</a> } else { Hi <a href=/user/@request.session.get("username")> @request.session.get("name").filter(!_.isEmpty).map(_.toString).getOrElse(<i>Unnamed</i>)</a>! <a href="/logout">Logout</a> } 
		<form action="/search" method="get"><input type="text" name="q" /><input type="submit" value="Search"></form>
		<hr />
        @content
		<hr />
		<div>&copy;2012 Optional LLC</div>
    </body>
</html>
