@(userForm: Form[User])(implicit request: Request[_])

@main("Login") {
	
	<h1>Username: @userForm.get.id</h1>
	
	@helper.form(action = routes.Application.editAccount()) {
		@helper.inputText(
			userForm("name"),
			'_label -> "Name",
            '_error -> userForm.error("name")
		)
		@helper.inputPassword(
			userForm("password"),
			'_label -> "Password",
            '_error -> userForm.error("password")
		)
		@helper.textarea(
			userForm("aboutme"),
			'_label -> "About Me",
			'rows -> 5,
			'cols -> 80,
			'_error -> userForm.error("aboutme")
		)
		<input type="submit" value="Save" />
}
}
