@(user: User, userForm: Form[User])(implicit request: Request[_])

@main(if (user.id.get.isEmpty) "New User" else "User " + user.id.get) {
	
	<h1>@user.name (@user.id)</h1>
	<div>Joined @user.ctime</div>
	
	<div>@user.aboutme.split("\n").map(s => <p>{s}</p>)</div>
	
	<input type="button" value="Edit" onClick="" />
	
	@helper.form(action = routes.Application.editUser(if (user.id.get.isEmpty) "+user" else user.id.get)) {
		@helper.inputText(
			userForm("name"),
			'_label -> "Name",
            '_error -> userForm.error("name")
		)
		@helper.inputPassword(
			userForm("password.main"),
			'_label -> "Password",
            '_error -> userForm.error("password")
		)
		@helper.inputPassword(
			userForm("password.confirm"),
			'_label -> "Confirm Password",
            '_error -> userForm.error("password")
		)
		@helper.textarea(
			userForm("aboutme"),
			'_label -> "About Me",
			'rows -> 5,
			'cols -> 80,
			'_error -> userForm.error("aboutme")
		)
		<input type="submit" value="Save" />
	}

}
